<div id="debitBankDetailsButton">
    <a href="/payment/debit/bankdetails" rel="nofollow">
    	Laschrift-Bankaccount
        <img src="{{ plugin_path('Debit') }}/images/buttons/paypal_express_{{ lang }}.png" />
    </a>
</div>